<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http//www.thymeleaf.org"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http//www.thymeleaf.org ">

<head>
    <title>Change Password</title>
    <div th:replace = "fragments/template :: style"></div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <style>
        form { position: relative; z-index: 1; background-color: #316cf4;
            max-width: 360px; border-radius: 30px;
            margin: 0 auto 100px; padding: 45px; padding-top: 20px; text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
    </style>
</head>

<body style="background: rgb(2,0,36);
            background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(49,108,244,1) 35%, rgba(0,212,255,1) 100%);">
<div class = "container">
    <div class = "row" style = "min-height: 5vh"></div>
    <div class = "row justify-content-center">
        <div class = "col-md-6">
            <form class = "form-control-lg" method="post" th:action = "@{/customer/changepassword}" th:object = "${changePasswordForm}">
                <div class = "row p-2">
                    <div class = "col">
                        <label style="color: whitesmoke; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" for = "password1" class = "form-label">New password</label>
                        <input
                                th:field = "${changePasswordForm.password1}"
                                id = "password1"
                                type = "password"
                                class = "form-control"
                                placeholder = "Password"
                                name="password1"
                                autofocus="autofocus"
                        />
                    </div>
                </div>
                <div class = "row p-2">
                    <div class = "col">
                        <label style="color: whitesmoke; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" for = "password2" class = "form-label">Confirm your password</label>
                        <input
                                th:field = "${changePasswordForm.password2}"
                                id = "password2"
                                type = "password"
                                class = "form-control"
                                placeholder = "Confirm"
                                name = "password2"
                        />
                    </div>
                </div>
                <div class = "row p-2">
                    <div class = "col p-2">
                        <button style="color: whitesmoke; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" type = "submit" class = "btn btn-info">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>