<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <div th:replace = "fragments/template :: style"></div>
</head>
<body>
<nav th:replace = "fragments/template :: navbar"></nav>

<div class = "container">
    <br>
    <br>
    <div class = "row">
        <div class = "col-md-6">
            <p> Welcome <span th:text = "${name}"></span></p>
        </div>
    </div>
</div>

<div th:replace = "fragments/template :: script"></div>
</body>
</html>
